html,body
{
background-image: url("../safari.jpg");
background-repeat:no-repeat;
background-size: cover;
}


* {
  text-align: left;
  color: rgb(18, 246, 227);
}

div {
  display: inline-table;
}

button {
  padding: 5px 7px;
}

table {
  display: inline-table;
  margin-top: 5px;
}

th,
td {
 background-color: rgb(192, 187, 183);
    border: 1px solid rgb(49, 34, 34);
  padding: 2px;
  color: rgb(137, 87, 87)
}
th{
    background-color: rgb(215, 208, 205);
}

*
{
color: rgba(64, 100, 154, 0.358);
}

p {
  font-family:verdana;
 
}



